@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans&family=Oswald&family=Playfair+Display&family=Roboto+Mono:wght@200&display=swap');

@keyframes color-pulse {
    0% {
        background-color: rgb(214, 0, 0.2);
    }
    50%{
        background-color:rgb(182, 2, 26,1);
    }
    100% {  
        background-color: rgb(214, 0, 0.2);
    }

}

@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

@keyframes bubble-out {
    0%{
        scale: 1;
    }
    50%{
        scale: 0.9;
    }
    100%{
        scale: 1;
    }

}



@keyframes song-load {
    0% {
        background-color: rgba(119, 119, 119, 0.781);
    }
    50%{
        background-color:rgba(24, 24, 24, 0.781);
    }
    100% {  
        background-color: rgba(119, 119, 119, 0.781);;
    }

}

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}

:root {
    --primary-color: #0f0f0f;
    --secondary-primary-color:#ddd;
    --font-color: #141010;
    --secondary-color: #d6001c;

}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    /* background-color: var(--primary-color); */
    /* background: linear-gradient(180deg, rgba(15,15,15,1) 0%, rgba(54,12,18,1) 100%); */
    /* background: linear-gradient(180deg, rgba(15,15,15,1) 0%, rgba(50,12,18,1) 100%); */
    /* background: linear-gradient(180deg, rgba(15,15,15,1) 0%, rgb(20, 20, 20) 100%); */
    background-color: rgb(0, 0, 0);
    background-attachment:fixed;
    transition: background-color .4s;
    scrollbar-gutter: stable;

}


body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
}

body::-webkit-scrollbar {
    background-color: #10100f;
    height: 2px;
}


.nav {
    position: fixed;
    top:0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 20;
    background-color: #10100f;
}

.nav-selection {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.nav-selection-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    transition: all .4s;
    cursor: pointer;
    color: #ddd;
    font-weight: 600;
}

.nav-selection-button.active {
    background-color: rgb(163, 159, 159,0.5);
    color: #ddd;
    font-size: 22px;
}

.nav-selection-button:not(.active):hover {
    background-color: rgb(163, 159, 159,0.2);
}


.logo {
    align-items: center;
    width: fit-content !important;
    font-size: 25px;
    transition: scale .2s ease-in-out;
    cursor: pointer;
    padding: 10px;
}

.logo:hover {
    scale: 1.5;
}


.logo-pic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-search-wrapper{
    display: flex;
    justify-content:end;
    align-items: center;
    flex-grow: 1;
    margin-right: 20px;
}

.nav-searchbar {
    display: flex;
    height: fit-content;
}

.nav-search {
    width: 500px;
    background: none;
    color: white;
    outline: none;
    border: none;
    padding:5px;
    font-size: 15px;
    transition: all.4s;
    border-bottom: 1px solid white;
}

.nav-search.folded {
    width: 0;
    opacity: 0;
}


.nav-search-results {
    position: absolute;
    width: 550px;
    height: 200px;
    background-color: var(--primary-color);
    top: 51px;
    z-index: 100000;
    overflow-y: scroll;
    overflow-x: hidden;
}

.nav-search:active .nav-search {
    
}

.nav-search-start {
    color: white;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    cursor: pointer;
}

.nav-user {
    display: flex;
    gap: 25px;
    padding-right: 5px;
    cursor: pointer;
}

.user-username {
    color: white;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.user-avatar > img {
    max-width: 100%;
}

.user-menu{
    position: absolute;
    background-color: red;
    width: 250px;
    height: 300px;
    right: 0;
    top: 70px;
}

.hidden {
    display: none;
}

.footer {
    position: static;
    display: flex;
    width: 100%;
    bottom: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    background-color: rgb(0, 0, 0);

}

.footer-content {
    position: absolute;
    display: flex;
    right: 20px;
    width: 35%;
    justify-content: center;
}

.page-content-wrapper {
    position: absolute;
    width: 100vw;
    transition: all 1s;
    margin-top: 50px;
    padding-bottom: 100px;
    visibility: none;
    opacity: 0 !important;
}

.page-content-wrapper.visible {
    visibility: visible;
    opacity: 1 !important;
    transition: all 1s;
}

.playlists-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 5%;
}

.playlists-title {
    background-color: #141010;
    width: fit-content;
    padding: 15px 25px;
    border-radius: 20px 20px 0 0;
    font-size: 25px;
    color:#ddd;
    width: 100%;
    border-bottom: 1px solid rgb(37, 31, 31);
}

.playlists {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    background-color: #141010;
    border-radius: 0 0 20px 20px;
}

.playlists-container::-webkit-scrollbar{
    display: none;
} 

.playlist-card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 180px;
    border-radius: 10px;
    overflow: hidden;
    transition: all .1s ease-in;
}

.playlist-card:hover{
    scale: 1.1;
}

.playlist-card-info {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    background-color:rgb(43, 42, 42,0.5);
    min-height: 35px;
}

.playlist-card-image {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.playlist-card-image> img {
    min-width: 100%;
    min-height: 100%;
}

.playlist-card-desc {
    display: flex;
    width: 100%;
    color: rgb(226, 226, 226);
    text-overflow: ellipsis;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 15px;
   font-weight: 600;
   text-shadow: 0px 0px 6px #000000;
}


.play-button{
    position: absolute;
    font-size: 30px;
    color: white;
 }


.playlist-song-state #listening {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0,0.3);
}

.playlist-song-state #pause {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0,0.3);
}

.playlist-song-state #listening > svg{
    margin-right: 4px;
    animation: bubble-out 1s ease-in-out infinite;
}

.playlist-song-state #play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0,0.3);
    transition: all .2s;
    opacity: 0;
}





.playlist-song-image {
    display: flex;
    justify-content: center;
    width: 50px;    
    height: 50px;
 }


.player-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.player{
    position: sticky;
    top: 0;
    z-index: 10;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100dvw;
    color: rgb(218, 218, 218);
    transition: all 1s;
}


.player-controls-section {
    display: flex;
    padding: 10px;
    padding-right: 20px;
    width: 100%;
}


.player-track-title {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 600;
}


.player-song-info-section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 30px 20px 20px;
    background-color: rgb(15, 15, 15,0.5);
    transition: all 1s;
    overflow-y: scroll
}

.player-song-info-section.folded {
    bottom: 5px;
    display: none;
}

.player-song-info-section::-webkit-scrollbar {
    display: none;
}

/* .player.active {
    color: var(--secondary-color);
}

.player.active .seek_bar{
    transition: background-color .4s;
    background-color: var(--secondary-color);
}

.player.active .audio-volume progress::-webkit-progress-value{
    background-color: #57000C;
}

.player.active .audio-volume input::-webkit-slider-thumb{
    border: 2px solid var(--secondary-color);
}

.player.active progress::-webkit-progress-bar{
    background-color: rgb(177, 62, 62)
} */

/* .player.active .loop-track.active, .player.active .play-random.active {
    color: var(--secondary-color);
    transition: color .2s;
}

.player.active .playing-controls{
    color: #57000C;
} */

/* .player.active .btn_action:hover {
    color: rgb(153, 45, 45);
} */
.player-folded{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    width: 100vw;
    height: 130px;
    color: rgb(218, 218, 218);
    transition: all .8s;
    
}

.player-controls-section {
    display: flex;
    padding: 10px;
    padding-right: 40px;
    width: 100%;
    background-color: #10100f;
}



.player-image-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 30px;
    padding-left: 40px;
    background-color: rgb(16, 16, 15);
    transition: opacity .4s;
}

.player-image-section.folded {
    height: 0;
    opacity: 0;
    visibility:hidden;
}


.player-track-artists-folded {
    font-size: 20px;
    color: #ddd;
    cursor: pointer;
}

.player-track-title-folded {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}

.player-track-artists-folded:hover {
    text-decoration: underline;
}

.player-image-section-folded {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all .6s;
    width: 100%;
}


.player-show-full{
    display: flex;
    flex-grow: 1;
    height: 100%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.player-show-full > svg{
    opacity: 0;
    transition: all .4s;
}

.player-show-full:hover > svg{
    opacity: 1;
}

.player-image-section-folded.not-active {
    opacity: 0;
    transition: none;
    user-select: none;
    pointer-events: none;
}



.player-track-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    margin-left: 40px;
    margin-bottom: 20px;
    color: #ddd;
}

.player-track-info-folded {
    display: flex;
    flex-direction: column;
    color: #ddd;
    margin-left: 20px;
}

.player-current-playlist {
    width: 100%;
    padding-top: 30px;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
}

.player-track-title {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 600;
}


.player-track-artists {
    font-size: 25px;
    color: #ddd;
    cursor: pointer;
}

.player-track-artists:hover{
    text-decoration: underline;
}




.loop-track.active, .play-random.active {
    color: white;
    transition: color .2s; 
}

    .title{
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        text-overflow: ellipsis;
        flex-wrap: wrap;
        font-size: 20px;
        transition: color .3s;
        flex-grow: 1;
        height: 100%;
        width: 100%;
    }

    .image {
        position: relative;
        display: flex;
        z-index: 0;
        user-select: none;
        cursor: pointer;
        border-radius: 20px;
        overflow: hidden;
        min-width: 200px;
    }

    .image-folded {
        display: flex;
        z-index: 0;
        user-select: none;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        min-width: 80px;
    }

    .image-folded >img {
        width: 80px;
        height: 80px;
    }


    .image > img{
        min-width: 200px;
        min-height: 200px;
    }


    .second-image-filter {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
        left: 0;
        top: 0;
        background-color: rgb(25, 25, 25,0.9);
    }





    .navigation_wrapper
        {   
            bottom: 100%;
            width: 100%;
            background-color: rgb(63, 63, 63);
            height: 5px;
            cursor: pointer;
        }

        .navigation{
            width: 100%;
        }

        .navigation_wrapper.folded
        {  
            position: relative;
            bottom: 105px;
        }

        .navigation_wrapper.loading {
            animation: song-load 1s ease-in-out infinite;
        }

        .seek_bar{
            position: absolute;
            width: 0;
            height: 5px;
            background-color: rgb(255, 255, 255);
            transition: all .4s;
        }

        .buffer-bar{
            width: 0;
            height: 100%;
            height: 5px;
            background-color: rgb(141,141,141);
            transition: .2s;
        }


    .controls{
        font-size: inherit;
        display: flex;
        align-items: center;
        transition: all .3s;
        flex-grow: 1;
        }

        .controls.folded{
            flex-grow: 0;
        }


        .btn_action
        {
            font-size: 2rem;
            margin: 0 2rem;
            cursor: pointer;
        }


        .btn_action:hover {
            color: rgb(163, 159, 159);
        }

        .pp
        {
            font-size: 2.5rem;
            
        }

        .audio-volume-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .audio-volume{
            position: relative;
            width: 150px;
            height: 20px;
        }



        .audio-volume input {  
            appearance: none;
            position: absolute;
            width: 150px;
            left: -2px;
            bottom: -4px;
            height: 20px;
            background-color: transparent;
            cursor: pointer;
            z-index: 9999;
            outline: none;
        }
        .audio-volume input::-webkit-slider-thumb{
            appearance: none;
            width: 1px;
            height: 20px;
            background-color: #2b2a2a;
            border: 2px solid #aaaaaa;
            transition: height .4s;
            transition: all .2s; 
            
        }

        .audio-volume:hover > input::-webkit-slider-thumb{
            height: 30px;
        }


        .audio-volume progress {
            width: 150px;
            height: 16px;
            appearance: none;
            overflow: hidden;
            user-select: none;
        }

        .audio-volume progress::-webkit-progress-bar{
            background-color: white;
            transition: all .2s;
        }

        .audio-volume progress::-webkit-progress-value{
            background-color:#525252;
            transition: color .2s;
        }
        

        .playlist-songs-container {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .playlist-songs-container::-webkit-scrollbar {
            display: none;
        }

        /* .playlist-header {
            width: 90%;
            background-color: rgba(255, 255, 255, 0.85);
            padding: 25px;
            color: black;
            font-weight: 700;
            font-size: 25px;
            scale: 1.009;
            border-bottom: 0;
            margin-top: 10px;
            margin-bottom: 10px;
            margin: 10px auto;
        } */

        .playlist-song {
            display: flex;
            align-items: center;
            height: 65px;
            width: 100%;
            flex-direction: row;
            /* background-color: rgb(255, 255, 255,0.85); */
            transition: background-color .4s;
            transition: all .2s;
            padding: 15px;
            color: rgb(226, 226, 226);
            cursor: pointer;
            opacity: 0;
            animation: opacity .2s ease-in;
        }
        .playlist-song:hover {
            border: none;
            box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2);
            background-color: rgb(107, 107, 107,0.5);
            padding-left: 20px;
        }


        .playlist-song:hover #play {
            opacity: 1;
        }

        .playlist-song-title {
           user-select: none;
           white-space: nowrap;
           overflow: hidden;
           text-overflow: ellipsis;
           padding-left: 20px;
           flex-grow: 1;
        }

        .playlist-song-duration {
            padding-right: 10px;
            padding-left:  20px;
            transition: all .2s;
         }


        .playlist-song-actions {
            height: 100%;
        }

        .playlist-song-like-button {
            text-align: center; 
            padding: 5px;
            user-select: none;
        }

        .playlist-song-like-button:hover {
            background-color: #525252;
        }
        
        .song-current {
            background-color:rgb(214, 0, 28,0.2);
            font-size:18px;
            color: white;
            border: 0;
            box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2);
            animation: color-pulse 2.4s ease-in infinite;
        }

        .song-current.paused {
            background-color:#7a7a7a;
            animation:none;
        }

        .song-current:hover{
            border: 0;
        }


        .song-card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }  

        .auth-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
        }

        .auth {
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 20px;
            width: 350px;
            height: 425px;
            background-color: white;
            color: var(--secondary-color);
            background-color: var(--primary-color);
            border: 1px solid;
            box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.1)
        }



        .playing-controls {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 25px;
            font-size: 25px;
            color: rgb(73, 73, 73);
            transition: all .2s;
            transition: opacity .4s;
            cursor: pointer;
        }

        .auth > input {
        }

        .navigation-panel {
            display: none;
            width: 100%;
            height: 70px;
            background-color: red;
        }
        .navigation-panel-buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 300px;
            height: 100%;
        }

        .navigation-panel-button {
            background-color: white;
            height: 50px;
            width: 50px;
        }

        .scroll-to-top {
            display: none;
            position: fixed;
            bottom: 40px;
            right: 40px;
            z-index: 10000;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            overflow: hidden;
        }

        .scroll-to-top-button {
            width: 100%;
            height: 100%;

        }


        .artist-info-section {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 30px 40px 40px 40px;
            background-color: rgb(15, 15, 15,0.85);
        }

            
        .artist-info {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: 40px;
            margin-top: 20px;
            color: #ddd;
        }

        .artist-name {
            margin-bottom: 15px;
            font-size: 60px;
            font-weight: 600;
        }
        
        
        .artist-genres {
            font-size: 25px;
            color: #ddd;
        }


        .artist-titlebar{
            width: 100%;
            padding: 15px;
            font-size: 25px;
            color: #ddd;
            background-color:rgb(15, 15, 15,0.8);
        }
        
        .page-content{
            width: 100%;
            height: 100%;
            display: flex;
        }
        .loader {
            width: 100%;
            height: 100%;
            padding: 100px;
            display:flex;
            justify-content:center;
            align-items:center;
            /* background-color: rgb(16, 16, 15,0.5); */
            font-size: 100px;
        }

        .loader .spinner {
            animation: spin .6s ease-out infinite;
            color: #ddd;
        }

        .chart-songs-wrapper{
            width: 100%;
            height: 100%;
            padding: 20px 30px 20px 10px;
        }

        .chart-song-wrapper:nth-child(-n + 3) .chart-song-position{
            font-size: 30px;
            text-shadow:rgb(255, 255, 255) -1px 0px 10px;
            font-weight: 600;
        }

        .chart-song-wrapper:nth-child(2) .chart-song-position{
            font-size: 26px;
        }

        .chart-song-wrapper:nth-child(3) .chart-song-position{
            font-size: 24px;
        }

        .chart-song-wrapper{
            display: flex;
            flex-direction: row;
        }
        .chart-song-position{
            width: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ddd;
            font-size: 24px;
            user-select: none;
        }

        .chart-song-progress-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-right: 10px;
            width: 25px;
        }

        .chart-song-progress {
            font-size: 15px;
            color: #ddd;
            font-weight: 600;
        }

        .chart-song-progress-arrow{
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 0;
            padding: 5px 0;
        }
        .chart-song-progress-arrow.green {
            color: lawngreen;
        }

        .chart-song-progress-arrow.red {
            color: red;
        }

        .chart-song-progress.green {
            color: lawngreen;
        }

        .chart-song-progress.red {
            color: red;
        }

        .chart-song-crown {
            position: absolute;
            left: 35px;
            margin-top: 5px;
            font-size: 20px;
            rotate: 20deg;
            color: goldenrod;
        }





@media screen and (max-width:920px) {
    .nav-search-wrapper {
        display: none;
    }

    .logo {
        flex-grow: 1;
    }
}

@media screen and (max-width:480px) {
    body {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
    .player-wrapper {
        position: absolute;
        top:0;
        left: 0;
        flex-direction: column;
    }

    .footer {
        display: none;
    }

    .player {
        padding: 0;
        top: 0 !important;
        transition: none;
    }

    .player-image-section-folded{
        display: none;
    }

    .player-song-info-section {
        padding: 0;
        transition: none;
    }

    .playlists-container {
        display: none;
    }

    .playlist-songs-list {
        width: 100%;
    }
    
    .playlist-song:hover {
        scale: 1;
        box-shadow: none;
        background-color: inherit;
    }

    .song-current{
        scale: 1;
    }

    .song-current.paused {
        background-color:#7a7a7a;
        scale: 1;
        animation: color-pulse 2.4s ease-in infinite;
    }

    .song-current:hover{
        scale: 1;
    }
    .song-current.paused:hover {
        scale: 1;
    }


    .playlist-song #play {
        display: none;
    }

    .playing-controls {
        padding: 0;
    }
    .controls {
        margin-left: 0;
        margin-top: 20px;
        padding: 0;
        flex-grow: 0;
    }
    .player-image-section {
        padding: 20px;
    }

    .image {
        width: 150px;
    }

    .image>img {
        min-width: 150px;
        box-sizing: border-box;
        border: 0;
    }

    .second-image-filter {
        height: 100dvh;
    }

    .player-track-info {
        width: auto;
        justify-content: center;
        margin: 0;
        padding-left: 30px;
    }

    .player-track-title{
        font-size: 20px;
        text-overflow: ellipsis;
    }
    .player-controls-section {
        position: relative;
        width: 100%;
        padding: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 0;
    }
    
    .title {
        font-size: 17px;
        min-height: 45px;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        padding: 0 10px;
    }

    .navigation_wrapper{
        position:relative;
        bottom:155px;
    }

    .playlist-song-actions {
        display: none;
    }

    .playlist-song-duration {
        padding-left: 10px;
    }
    .audio-volume {
        display: none;
    }
    .playlists {
        display: none;
    }
    .nav {
        display: none;
    }  
    .playlist-song {
        font-size: 12px;
    }
    
}


