@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans&family=Oswald&family=Playfair+Display&family=Roboto+Mono:wght@200&display=swap');

@keyframes color-pulse {
    0% {
        background-color: #d6001c;
    }
    50%{
        background-color:#b6021a;
    }
    100% {  
        background-color: #d6001c;
    }

}

@keyframes bubble-out {
    0%{
        scale: 1;
    }
    50%{
        scale: 0.9;
    }
    100%{
        scale: 1;
    }

}



@keyframes song-load {
    0% {
        background-color: rgba(119, 119, 119, 0.781);
    }
    50%{
        background-color:rgba(24, 24, 24, 0.781);
    }
    100% {  
        background-color: rgba(119, 119, 119, 0.781);;
    }

}

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}

:root {
    --primary-color: #0f0f0f;
    --secondary-primary-color:#ddd;
    --font-color: #141010;
    --secondary-color: #d6001c;

}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    /* background-color: var(--primary-color); */
    /* background: linear-gradient(180deg, rgba(15,15,15,1) 0%, rgba(54,12,18,1) 100%); */
    /* background: linear-gradient(180deg, rgba(15,15,15,1) 0%, rgba(50,12,18,1) 100%); */
    background: linear-gradient(180deg, rgba(15,15,15,1) 0%, rgb(20, 20, 20) 100%);
    background-attachment:fixed;
}


body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
}

body::-webkit-scrollbar {
    background-color: transparent;
    height: 2px;
}


.nav {
    position: static;
    top:0;
    left: 0;
    height: 70px;
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    width: fit-content !important;
    padding-left: 20px;
    font-size: 25px;
}

.logo-text {
    text-align: center;
    color: var(--secondary-color);
}
.logo-pic{
    text-align: center;
    height: 100%;
}

.nav-buttons {
    display: flex;
    height: 65%;
    width: fit-content;
}
.nav-button {
    background-color: transparent;
    border: 0;
    transition: all .2s;
    color: white;
    font-size: 18px;
    min-width: 80px;
}

.nav-button:hover {
    background-color: var(--secondary-color);
    color: var(--font-color);
    font-weight: 700;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
}

nav .logo {
    color: red;
    width: 200px;
    font-size: 40px;
    text-align: center;
}

.nav-search-wrapper{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-grow: 1;
}

.nav-searchbar {
    display: flex;
    height: fit-content;
    border-bottom: 1px solid white;
}

.nav-search {
    width: 500px;
    background: none;
    color: white;
    outline: none;
    border: none;
    padding:5px;
    font-size: 15px;
}

.nav-search-results {
    position: absolute;
    width: 550px;
    height: 200px;
    background-color: var(--primary-color);
    top: 51px;
    z-index: 100000;
    overflow-y: scroll;
    overflow-x: hidden;
}

.nav-search:active .nav-search {
    
}

.nav-search-start {
    color: white;
    padding-right: 5px;

}

.nav-user {
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}

.user-username {
    color: white;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.user-avatar > img {
    max-width: 100%;
}

.user-menu{
    position: absolute;
    background-color: red;
    width: 250px;
    height: 300px;
    right: 0;
    top: 70px;
}

.hidden {
    display: none;
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    background-color: rgb(0, 0, 0);
}

.page-content {
}

.playlists-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 130px;
    overflow-x: scroll;
    justify-content: center;
    background-color: rgb(0,0,0,0.4);
}


.playlists {
    display:flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    height: 100%;
    grid-template-columns:repeat(4,1fr);
    overflow: hidden;
}

.playlists-container::-webkit-scrollbar{
    display: none;
} 

.playlist-card{
    width: 120px;
    height: 120px;
}

.playlist-card-info {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.playlist-card-image {

}
.playlist-card-image> img {
    width: 70px;
    height: 70px;
}
.playlist-card-desc {
    color: rgb(226, 226, 226);
    flex-grow: 1;
    width: 120px;
    height: 10px;
    text-overflow: ellipsis;
}
.playlist-card-length {
    position: relative;
    color: rgb(226, 226, 226);
    bottom: 70px;
    left: 5px;

}

.playlist-card-play {
position: relative;
 bottom: 93%;
 left: 37%;
}


.play-button{
    position: absolute;
    font-size: 30px;
    color: white;
 }


.playlist-song-state #listening {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0,0.3);
}

.playlist-song-state #pause {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0,0.3);
}

.playlist-song-state #listening > svg{
    margin-right: 4px;
    animation: bubble-out 1s ease-in-out infinite;
}

.playlist-song-state #play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0,0.3);
    transition: all .2s;
    opacity: 0;
}





.playlist-song-image {
    display: flex;
    justify-content: center;
    width: 50px;    
    height: 50px;
 }


.player-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.player{
    position: sticky;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    width: 60%;
    height: 100vh;
    color: rgb(218, 218, 218);
    background-color: rgb(0, 0, 0,0.2);
    /* transition: background-color 1s; */
    
}

.player-controls-section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    gap: 70px;
    background-color: rgb(0, 0, 0);
}

.player-image-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.player.active {
    /* background-color: rgb(8, 8, 8);  */
    color: var(--secondary-color);
}

.player.active .seek_bar{
    transition: background-color .4s;
    background-color: var(--secondary-color);
}

.player.active .audio-volume progress::-webkit-progress-value{
    background-color: #57000C;
}

.player.active .audio-volume input::-webkit-slider-thumb{
    border: 2px solid var(--secondary-color);
}

.player.active progress::-webkit-progress-bar{
    background-color: rgb(177, 62, 62)
}
    .title{
        display: flex;
        overflow: hidden;
        text-align: center; 
        justify-content: center;
        align-items: center;
        text-overflow: ellipsis;
        width: 100%;
        height: 60px;
        font-size: 20px;
        font-weight: 600;
        transition: color .3s;
    }

    .image {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: center;
        padding-top: 20px;
        z-index: 1;
    }

    .second-image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50%;
        overflow: hidden;
        filter: blur(15px);
        z-index: -1;
        opacity: 1;
    }

    .second-image > img {
        width: 150%;
        height: 200%;
        opacity: 0.8;
    }   
    



    .navigation{
        width: 100%;
    }

    .navigation_wrapper
        {   
            margin: 0 auto;
            width: 100%;
            background-color: rgb(141,141,141);
            height: 10px;
            cursor: pointer;
        }

        .navigation_wrapper.loading {
            animation: song-load 1s ease-in-out infinite;
        }

        .seek_bar{
            width: 0;
            height: 100%;
            background-color: rgb(255, 255, 255);
            transition: background-color .4s;
        }

    .controls{
        font-size: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s;
        }


        .btn_action
        {
            font-size: 2rem;
            margin: 0 2rem;
            cursor: pointer;
        }

        .player.active .btn_action:hover {
            color: rgb(153, 45, 45);
        }

        .btn_action:hover {
            color: rgb(163, 159, 159);
        }

        .pp
        {
            font-size: 2.5rem;
            
        }

        .audio-volume-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .audio-volume{
            position: relative;
            width: 150px;
            height: 20px;
        }


        .audio-volume input {  
            appearance: none;
            position: absolute;
            width: 150px;
            left: -2px;
            bottom: -4px;
            height: 20px;
            background-color: transparent;
            cursor: pointer;
            z-index: 9999;
            outline: none;
        }
        .audio-volume input::-webkit-slider-thumb{
            appearance: none;
            width: 1px;
            height: 20px;
            background-color: #2b2a2a;
            border: 2px solid #aaaaaa;
            transition: height .4s;
            transition: all .2s; 
            
        }

        .audio-volume:hover > input::-webkit-slider-thumb{
            height: 30px;
        }


        .audio-volume progress {
            width: 150px;
            height: 16px;
            appearance: none;
            overflow: hidden;
            user-select: none;
        }

        .audio-volume progress::-webkit-progress-bar{
            background-color: white;
            transition: all .2s;
        }

        .audio-volume progress::-webkit-progress-value{
            background-color:#525252;
            transition: color .2s;
        }
        






        .playlist-songs-list {
            position: relative;
            z-index: 10;
            width: 40%;
            background-color: rgb(0, 0, 0,1);
        }

        .playlist-songs-container::-webkit-scrollbar {
            display: none;
        }
        .playlist-songs-container {
            display: flex;
            flex-direction: column;
        }

        /* .playlist-header {
            width: 90%;
            background-color: rgba(255, 255, 255, 0.85);
            padding: 25px;
            color: black;
            font-weight: 700;
            font-size: 25px;
            scale: 1.009;
            border-bottom: 0;
            margin-top: 10px;
            margin-bottom: 10px;
            margin: 10px auto;
        } */

        .playlist-song {
            display: flex;
            align-items: center;
            height: 65px;
            flex-direction: row;

            /* background-color: rgb(255, 255, 255,0.85); */
            transition: background-color .4s;
            transition: all .2s;
            padding: 15px;
            color: rgb(226, 226, 226);

        }
        .playlist-song:hover {
            scale: 1.03;
            border: none;
            box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2);
            z-index: 10;
            background-color: rgb(51, 51, 51);
        }


        .playlist-song:hover #play {
            opacity: 1;
        }

        .playlist-song-title {
           user-select: none;
           white-space: nowrap;
           overflow: hidden;
           text-overflow: ellipsis;
           padding-left: 20px;
           flex-grow: 1;
        }

        .playlist-song-duration {
            padding-right: 10px;
            padding-left:  20px;
            transition: all .2s;
         }

         .playlist-song:hover .playlist-song-duration {
            padding-right: 25px;
        }

 
        .song-current {
            scale: 1.01;
            background-color:rgb(214, 0, 28,0.2);
            font-size:18px;
            color: white;
            border: 0;
            box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2);
            animation: color-pulse 2.4s ease-in infinite;
        }

        .song-current:hover {
            scale: 1.01;
            background-color:var(--secondary-color);
        }

        .song-current:hover .playlist-song-duration {
            padding-right: 20px;
        }

        .song-current.paused {
            background-color:#7a7a7a;
            scale: 1.007;
            animation:none;
        }

        .song-current.paused:hover {
            scale: 1.007;
        }

        .song-current:hover{
            border: 0;
            scale: 1.013;
        }

        .song-card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }  

        .auth-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
        }

        .auth {
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 20px;
            width: 350px;
            height: 425px;
            background-color: white;
            color: var(--secondary-color);
            background-color: var(--primary-color);
            border: 1px solid;
            box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.1)
        }

        .loop-track.active, .play-random.active {
            color: white;
            transition: color .2s;
        }
        .player.active .loop-track.active, .player.active .play-random.active {
            color: var(--secondary-color);
            transition: color .2s;
        }

        .player.active .playing-controls{
            color: #57000C;
        }



        .playing-controls {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            font-size: 25px;
            color: rgb(73, 73, 73);
            transition: all .2s;
            transition: opacity .4s;
        }

        .auth > input {
        }

        .analyzer-wrapper{
            /* display: none; */
            position: absolute;
            display: flex;
            width: 100%;
            /* width: 100vw; */
            height: 50%;
            pointer-events: none;
            pointer-events: none;
            user-select: none;
            z-index: 0;
            bottom: 0;
            left: 0;
            padding: 10px;
        }
        .analyzer {
            filter: blur(0.7px);
            width: 100%;
        }

@media (max-width:950px) {
}
